
*{
   padding: 0px;
   margin: 0%;
   font-weight:500;
}
body{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
   color: white;
}
#container{
      border: 10px solid rgb(0, 0, 0);
      width: 100%;
      height: 500px;
     font-style:inherit;
      display: flex;
      align-items:center;
      justify-content:space-evenly;
}
#small-container{
   border: 5px solid rgb(11, 223, 205);
   border-radius: 50px 10px;
   font-size: 90px;
   width: 500px;
   display: flex;
   padding: 10px;
   justify-content: center;
}

